* {
  scroll-behavior: smooth;
}

body {
  margin: 0 auto;
  text-align: center;
  background-color: #fff;
}

.professional-link {
  transform: scale(1.2);
}

.professional-link:hover,
.hobbies-link:hover {
  transform: scale(1.3);
  transition: all 0.4s ease;
  cursor: pointer;
}
.professional-link:hover {
  transform: scale(1.5);
}

.navbar {
  background-color: #add8e6;
  padding: 30px 20px;
  display: flex;
  justify-content: space-between;
  position: sticky;
}

.nav-title {
  text-decoration: none;
  font-size: 22px;
  color: #000;
  align-items: center;
}

h1 {
  margin-top: 0;
}

.links {
  display: flex;
  gap: 30px;
  align-items: center;
}

.nav-link {
  text-decoration: none;
  color: #000;
  gap: 30px;
}

.nav-link:hover {
  color: white;
  transition: all 0.3s ease;
}

#about {
  background-color: #faf9f6;
  padding: 21px;
}

.about-links {
  padding: 25px;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

#skills {
  background-color: #faf9f6;
  padding: 21px;
}

#leave-message {
  padding: 21px;
}

hr {
  width: 100px;
  margin-bottom: 40px;
  height: 4px;
  background-color: #add8e6;
  border: none;
}

.intro-text {
  margin: 10px 20%;
  line-height: 1.3rem;
  font-size: 20px;
}

.main-img {
  border-radius: 50%;
  width: 600px;
  max-width: 100%;
  margin-bottom: 30px;
  object-fit: cover;
}

#about > div > a:nth-child(2) > i {
  font-weight: 500;
}

.professional-link {
  text-decoration: none;
  padding: 0 5px;
}

.hobbies-link {
  text-decoration: none;
  padding: 0 5px;
}


.projects {
  display: flex;
  justify-content: center;
  align-items: center;
}

.project-card {
    
    background-color: #f8f8f8;
    display: flex;
    flex-direction: column;
    justify-content: center;
  margin: 0 25px 50px;
  padding: 20px;
  border-radius: 8px;
  border: 1px solid black;
  width: 250px;
  height: 250px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 8px;
}

.project-card:hover {
  transform: scale(1.05);
  transition: all 0.4s ease;
  cursor: pointer;
}

.project-link {
    text-decoration: none;
  color: inherit;
}

#leave-message {
    
    padding: 50px;
}

.contact-me {
    margin-bottom: 50px;
    font-size: 20px;
}

.mailbox {
    text-decoration: none;
  color: inherit;
  border-radius: 4px;
  background-color: #add8e6;
  padding: 10px;
  
}

.mailbox:hover {
    color: white;
    transform: scale(1.2);
  transition: all 0.4s ease;
  cursor: pointer;
}

#footer {
    background-color: rgb(144, 144, 144);
    padding: 5px;
    color: white;
}
